*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;

}

.header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    background: lightblue;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 0 0 5px blue;
}

button{
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid;
}

.library{
    display: grid;
    grid-template-rows: repeat(auto-fill, 200px);
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 16px;
    gap: 16px;
}

.book{
    border: 1px solid;
    box-shadow: 0 0 5px blue;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}

.read{
    background: lightgreen;
}

.notread{
    background: lightcoral;
}

button:hover{
    box-shadow: 0 0 5px 5px lightblue;
}